<div class="comment-area mt-2">
  <div class="comment-heading">
    <p>コメントを投稿する</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_with model: comment, url: article_comments_path(article), local: true do |form| %>
        <div class="form-group">
          <%= form.text_area :content, rows: 5, class: 'form-control' %>
        </div>

        <div class="text-right">
          <%= form.submit '投稿', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>