<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %></p>
        <p>投稿者：<%= comment.user.email %></p>
        <% if comment.user == current_user %>
          <p><%= link_to 'コメントを削除する',comment_path(comment), method: :delete, remote: true %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
