<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %></p>
        <% if comment.user.try(:email) %>
          投稿者：<%= comment.user.email %><br>
        <% else %>
          Not User Data<br>
        <% end %>

        <% if comment.user == current_user || current_user.id == comment.article.team.owner_id %>
          <p>
            <%= link_to 'コメントを削除する', comment_path(comment), method: :delete, remote: true %>
            / <%= link_to 'コメントを編集する', edit_comment_path(comment) %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
