<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= I18n.t('views.messages.edit_article') %>
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <%= render 'form', article: @article %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
