<% content_for :content_header do %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">投稿記事一覧</h1>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="text-left">
      <i class="fa fa-files-o fa-fw"></i> <%= @articles.count %>件の投稿
    </span>
  </div>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <div class="media">
          <a class="media-left">

          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to article.title, article_path(article) %></h4>
            投稿日時 <%= l(article.created_at, format: :default) %> by <%= article.user&.name %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>



