<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>Menu</h5>
    <% if user_signed_in? %>
      <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>
</aside>
