@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
$fa-font-path: '~font-awesome/fonts';
// @import '~font-awesome/scss/font-awesome.scss';
@import 'comment';

.img {
  width: 100%;
  height: auto;
}
