html,body,#wrapper {
  height: 100%;
}

.mt-2 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.border-bottom {
  border-bottom: 1px #ddd solid;
}

.content-wrapper {
  background-color: #fff;
  padding: 20px 0;
}