<!DOCTYPE html>
<html>
  <head>
    <title>Keijiban</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= yield %>
        </div>
      </div>
    </div><!-- wrapper -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>